
.container-main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  padding: 0 10px 0 10px;
}

.return  {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.return a{
  color: var(--primary-color);
  text-decoration: none;
}

.return a:hover{
  color: var(--light-indigo-color);
}

.form{
  width: 520px;
  background: var(--white-color);
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .form{
    width: 100%;
  }
}
