.header-contaier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-blue-color);
  height: 100%;
}


.header-contaier .logo-img{
  width: 150px;
}


@media (max-width: 768px){

  .header-contaier{
    flex-direction: column;
    justify-content: center;
  }
}

