<div class="flex px-3 flex-column w-screen">

  <div class="flex align-items-center justify-content-between">
    <h3> Información del Paciente </h3>
    <p-button label="Regresar" icon="pi pi-arrow-left" routerLink='/home/pacientes' />
  </div>

  <p-card>

    <div class="grid">

      <h4 class="col-12">
        Información General
      </h4>

      <div class="col-12 flex align-items-center flex-column sm:flex-row">

        <div class="col-12 flex flex-column gap-2 sm:col-6">
          <label for="name">Nombre</label>
          <input pInputText id="name_user" aria-describedby="name-help" [value]="patient?.str_name_user" [disabled]="true" />
        </div>

        <div class="col-12 flex flex-column gap-2 sm:col-6">
          <label for="lastname">Apellido</label>
          <input pInputText id="lastname_user" aria-describedby="lastname-help" [value]="patient?.str_lastname_user" [disabled]="true" />
        </div>

      </div>

    </div>

  </p-card>

</div>
