<div class="header-controller">

  <div class="logo-controller">
    <img class="logo" src="../../../../assets/icons/DiabControl_Banner_white.svg" alt="logo">
  </div>

  <div class="menu-controller">
    <button class="linker">
      <a routerLink="/home/">Inicio</a>
    </button>

    <button class="linker">
      <a routerLink="/home/forms">Formularios</a>
    </button>

    <button class="linker">
      <a routerLink="">Acerca De</a>
    </button>

    <button  class="linker">
      <a routerLink="/home/chat">Chats</a>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home/settings">
      <mat-icon>person</mat-icon>
      <span>Mi Cuenta</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>

</div>
