
.container-auth{
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  /* position: absolute; */
  top: 0;
  width: 100%;

}

.container-auth .main{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  background: var(--primary-color);
}

.footer{
  /* Mandamos a la parte inferior de la pantalla */
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px){
  .main{
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
  }
}
