


    <!-- <div class="relative w-screen">
      <shared-menu-auth class="absolute bg-white w-screen h-2rem"></shared-menu-auth>
    </div>


    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-02.png');">
      <div class="h-100 bg-white border-round-md p-5">
        <router-outlet></router-outlet>
      </div>
    </div> -->


    <div class=" m-0 fullScreen overflow-hidden" style="background-image: url('../../../../assets/images/bg-02.png');">

      <div class="menuDiv">
        <shared-menu-auth class="h-3rem"></shared-menu-auth>
      </div>

      <div class="container-login100 loginDiv">
        <div class="bg-white border-round-md p-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>






