<!--
    <div id="containerDiv" class=" m-0 fullScreen overflow-hidden">

      <div class="menuDiv">
        <shared-menu-auth class="h-3rem"></shared-menu-auth>
      </div>

      <div class="container-login100 loginDiv">
        <div class="bg-white border-round-mdp-5 geometryBord">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div> -->


<div class="container-auth">
  <header class="header">
    <shared-header-auth></shared-header-auth>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <shared-footer></shared-footer>
  </footer>
</div>



