
.main-controller{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/*  Header CSS */
.header-controller{
  width: 100%;
  height: 10%;
  background: var(--light-blue-color);
}

.header-controller{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.logo-controller img{
  width: 150px;
}

.menu-controller{
  height: 100%;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.linker a{
  color: var(--white-color);
  font-family: var(--font-family-poppins);
}

mat-icon{
  color: var(--white-color);
}

.linker a:hover{
  color: var(--light-yellow-color);
  transition: 0.3s;
}

/* Body CSS */
.body-controller{
  width: 100%;
  height: 90%;
}

.float-controller{
  display: none;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {

  .menu-controller {
    display: none;
  }

  .logo-controller {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Floating Menu CSS */
  .float-controller {
    position: fixed;
    bottom: 20px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    width: 100%;
  }

  #expand-arrow{
    font-size: 30px;
    color: var(--white-color);
  }

  .mat-mdc-icon-button.mat-mdc-button-base{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue-color);
    opacity: 0.9;
  }

}
