<div class="generalContainer m-0 fullScreen overflow-hidden m-0">

  <div class="header m-0 pl-2 pr-2">
    <!-- Contenedor de menu principal -->
    <div>
      <label for="">menu</label>
    </div>

    <!-- Contenedor de nombre de usuario, y (menu desplegable o cerrar sesion) -->
    <div class="containerActions">
      <label for="">username</label>
      <label for="">logOut</label>
    </div>

  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <div class="footer bg-blue-900 flex justify-content-center align-items-center w-screen p-1">
    <label for="">MedsyncApp 2023</label>
  </div>

</div>


