<div class="container-main">
  <header class="header">

    <div class="logo-container">
      <img routerLink="/home/" class="logo" src="../../../../assets/images/LogoMed.png" alt="MedSync">
    </div>

    <div class="menu-container">
      <button class="linker">
        <a routerLink="/home/">Home</a>
      </button>

      <button class="linker">
        <a routerLink="/home/forms">Forms</a>
      </button>

      <button class="linker">
        <a routerLink="/home/about">About</a>
      </button>

      <button  class="linker">
        <a routerLink="/home/chat">Chats</a>
      </button>

      <button class="linker">
        <span class="material-symbols-outlined">
          expand_more
        </span>
      </button>


    </div>

  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>


  <footer class="footer">
    <shared-footer></shared-footer>
  </footer>
</div>

