<div class="container-main">
  <header class="header">

    <div class="logo-container">
      <img routerLink="/home/" class="logo" src="../../../../assets/images/LogoMed.png" alt="MedSync">
    </div>

    <div class="menu-container">
      <button class="linker">
        <a routerLink="/home/">Inicio</a>
      </button>

      <button class="linker">
        <a routerLink="/home/forms">Formularios</a>
      </button>

      <button class="linker">
        <a routerLink="/home/about">Acerca De</a>
      </button>

      <button  class="linker">
        <a routerLink="/home/chat">Chats</a>
      </button>

      <button class="linker" [matMenuTriggerFor]="menu">
        <span class="material-symbols-outlined">
          expand_more
        </span>
      </button>
      <mat-menu id="float-menu" #menu="matMenu">
        <button mat-menu-item routerLink="/home/settings">
          <mat-icon>account_circle</mat-icon>
          <span>Mi cuenta</span>
        </button>
        <button id="float-button" mat-menu-item routerLink="/auth/">
          <mat-icon>exit_to_app</mat-icon>
          <span> Salir </span>
        </button>
      </mat-menu>
    </div>
  </header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>


  <!-- <footer class="footer">
    <shared-footer></shared-footer>
  </footer> -->

  <!-- <div id="bottomMenu">
    <button id="light-menu" mat-icon-button [matMenuTriggerFor]="menuLight">
      <mat-icon class="vert-icon">expand_less</mat-icon>
    </button>
    <mat-menu #menuLight="matMenu" yPosition="above">
      <button mat-menu-item routerLink="/home/">
        <mat-icon>house</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item routerLink="/home/forms">
        <mat-icon>article</mat-icon>
        <span>Formularios</span>
      </button>
      <button mat-menu-item routerLink="/home/about">
        <mat-icon>info</mat-icon>
        <span>Acerca De</span>
      </button>
      <button mat-menu-item routerLink="/home/chat">
        <mat-icon>chat</mat-icon>
        <span>Chats</span>
      </button>
      <button mat-menu-item routerLink="/home/settings">
        <mat-icon>account_circle</mat-icon>
        <span>Mi cuenta</span>
      </button>
      <button id="float-button" mat-menu-item routerLink="/auth/">
        <mat-icon>exit_to_app</mat-icon>
        <span> Salir </span>
      </button>
    </mat-menu>
  </div> -->
</div>

<!-- <button class="buttonExample">
  X
</button> -->

