.container-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--light-blue-color);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}


.logo-container{
  display: flex;
  width: 200px;
  height: 60px;
  padding: 10px;
  align-items: center;
}

.logo{
  object-fit: contain;
  cursor: pointer;
}

.menu-container{
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.linker{
  color: var(--white-color);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  cursor: pointer;
}

.linker span{
  margin-top: 10px;
}

.linker:hover{
  color: var(--primary-color);
}

.container-main .main{
  flex: 1;
}

.main{
  background: var(--white-color);
}


.footer{
  bottom: 0;
  width: 100%;
}

#light-menu{
  display: none;
}

#bottomMenu{
  display: none;
}

@media (max-width: 600px){
  .main{
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
  }

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-container{
    display: none;
  }

  #light-menu{
    display: flex;
  }

  .vert-icon{
    color: var(--dark-gray-color);
  }

  .footer{
    display: none;
  }

  #bottomMenu{
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
}
