.main{
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-txt{
  color: var(--light-lime-color);
  font-size: var(--font-size-12xl);
  font-weight: var(--font-weight-bolder);
}

.msg-txt{
  color: var(--light-lime-color);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
}

.desc-txt{
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  color: var(--white-color);
  font-family: var(--font-family-poppins);
}

.rtn-button{
  margin-top: 10px;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: var(--light-blue-color);
}

.rtn-button a {
  color: var(--white-color);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-md);
}

.rtn-button:hover {
  background: var(--light-indigo-color);
}


@media screen and (max-width: 768px){

  .title-txt{
    font-size: var(--font-size-10xl);
  }

  .msg-txt{
    font-size: var(--font-size-2xl);
  }

  .desc-txt{
    font-size: var(--font-size-md);
    text-align: center;
  }

  .rtn-button{
    position: absolute;
    bottom: 20px;
  }

  .rtn-button{
    width: 200px;
    height: 40px;
  }

  .rtn-button a {
    font-size: var(--font-size-xs);
  }


}

@media screen and (max-width: 670px) {
  .title-txt{
    font-size: var(--font-size-8xl);
  }

  .rtn-button{
    position: absolute;
    bottom: 20px;
  }
}
