h1{
  font-family: var(--font-secondary);
  font-size: 6rem;
  font-weight: var(--font-weight-bolder) ;
}

h3{
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: var(--font-weight-semibold) ;
}

p{
}

::ng-deep h1{
  margin: 0;
}

::ng-deep h3{
  margin: 0;
}

div{
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

  h1, h3, p {
    text-align: center;
  }
}


