.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.article{
  min-width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container{
  max-width: 35%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.title{
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-8xl) ;
  font-weight: var(--font-weight-bolder);
}

#dia{
  color: #28aadc;
}

#care{
  color: #64ebb6;
}

.phrase{
  width: 600px;
  padding-left: 6px;
}

.phrase label{
  font-family: var(--font-family-roboto);
  font-style: oblique;
}

/* ------------------------------------------------------------------ */

.form{
  background: var(--white-color);
  border-radius: 5px;
  /* height: 500px; */
  width: 420px;

  /* Aplicamos un shadow al form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.title-txt{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue-color);
  padding: 10px 0 10px 0;
  border-radius: 4px 4px 0 0;
  height: 10%;
}

.title-lbl{
  color: var(--white-color);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}


.form-controller{
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 75%;
}

.user-form,
.password-form{
  display: flex;
  flex-direction: column;
  height: 30%;
}

.user-form .user-lbl,
.password .password-lbl{
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  margin: 5px 0 5px 0;
}

.user-form .field,
.password-form .field{
  height: 50px;
  position: relative;
  width: 100%;
}

.button-login{
  background: var(--primary-color);
  color: var(--white-color);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

form .field input{
  height: 100%;
  width: 100%;
  outline : none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
}

form .field input:focus{
  border: 2px solid var(--primary-color);
}

form .field input:focus ~ span{
  color: var(--primary-color);
}

.form-controller span{
  position: absolute;
  left: 10px;
  top: 50%;
  pointer-events: none;
  font-size: 25px;
  color: var(--gray-color);
  transform: translateY(-50%);
}

.password-form .password{
  font-family: var(--font-family-poppins);
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color: var(--primary-color);
  text-decoration: none;
}

a:hover{
  color: var(--light-blue-color);
}


.help-form{
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: flex-end;
  align-items: center;
}


@media screen and (max-width: 1024px){
  .form{
    width: 315px;
  }

  .title{
    font-size: var(--font-size-7xl);
  }

  .phrase{
    width: 500px;
  }

}

@media screen and (max-width: 768px) {

  .main-container{
    flex-direction: column;
  }

  .form{
    width: 100%;
    margin: 10px;
  }

  .article{
    display: none;
  }

  .form-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

}
