.container-footer {
  background: var(--light-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer .footer-txt {
  margin: 3px 0 3px 0;
  color: var(--white-color);
  font-family: var(--font-family-roboto);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-sm);
}
