<div class="container-main">

  <form class="form">


    <div class="message-txt">
      <label class="message" for="">Si no recuerdas tu contraseña porfavor ingresa tu correo electrónico, enviaremos ahí
        una nueva contraseña para ti.</label>
    </div>

    <div class="email-container">
      <input type="text" class="email" placeholder="Ingrese su email">
      <span class="material-symbols-outlined">
        mail
      </span>
    </div>

    <div class="button-container">
      <button class="button">Enviar</button>
    </div>

    <div class="return">
      <a href="" routerLink="login">Regresar</a>
    </div>

  </form>

</div>
