<form class="form">


  <button class="button-return" routerLink="login">
    <span class="material-symbols-outlined">
      arrow_back_ios
    </span>
    <label for="">Regresar</label>
  </button>

  <div class="message-txt">
    <label class="message" for="">Si no recuerdas tu contraseña porfavor ingresa tu correo electrónico, enviaremos ahí
      una nueva contraseña para ti.</label>
  </div>

  <div class="email-container">
    <input type="text" class="email">
  </div>

  <div class="button-send">
    <button class="button">Enviar</button>
  </div>

</form>
